body {
    padding: 50px;
    background-color: lightblue;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

.error-msg {
    text-align: left;
    color: #ee3535;
    font-weight: 600;
    min-width: 422px;
    max-width: 422px;
    display: none;
    width: 422px;
}

.radio-btn input[type="radio"] {
    display: none;
}

.radio-btn input[type="radio"]+label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.radio-btn input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #999;
    margin-right: 5px;
    vertical-align: middle;
}

.radio-btn input[type="radio"]:checked+label::before {
    background-color: #333;
}